body {
    background-color: #fff5e6;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%
}

@font-face {
    font-family: bromello;
    src: url(https://cam6688.github.io/Portfolio/bromello.ttf);
}

@font-face {
	font-family: Shoreline;
	src: url(https://cam6688.github.io/Portfolio/Shorelines_Script_Bold.otf);
}

@font-face {
	font-family: Millennial;
	src: url(https://cam6688.github.io/Portfolio/MillennialSolstice.ttf);
}

@font-face {
	font-family: Moonflower;
	src: url(https://cam6688.github.io/Portfolio/MoonFlower.ttf);
}

h1 {
    	color: rgb(255, 205, 180);
    	text-align: center;
	font-family: Millennial;
}

h2 {
 	color: rgb(255, 205, 180);
	font-family: bromello;
	font-size: 50px;
}

p {
    font-family: Moonflower;
    font-size: 20px;
    border: 10px dotted powderblue;
	padding: 50px;
	background-color: #ffffff"
}
