body {
    background-color: #fff5e6;
}

h1 {
    color: rgb(255, 205, 180);
    text-align: center;
	font-family: Papyrus;
}

h2 {
    color: rgb(255, 205, 180);
}

p {
    font-family: georgia;
    font-size: 14px;
    border: 10px dotted powderblue;
	padding: 30px;
	background-color: #ffffff"
}
