body {
    background-color: #fff5e6;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%
}

@font-face {
	font-family: bromello;
	src: url(https://cam6688.github.io/Portfolio/bromello.ttf);
}

h1 {
    color: rgb(255, 205, 180);
    text-align: center;
	font-family: bromello;
}

h2 {
    color: rgb(255, 205, 180);
	font-family: bromello;
}

p {
    font-family: georgia;
    font-size: 16px;
    border: 10px dotted powderblue;
	padding: 30px;
	background-color: #ffffff"
}
